* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --container-width: 952px;
}

.content-container {
  margin: 0 auto;
  max-width: var(--container-width);
}

.header {
  color: #f9faf8;
  background-color: #1f2937;
}

.header-content-container {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
}

.header-nav-bar {
  display: flex;
  gap: 24px;
}

.header-nav-link {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-section {
  background-color: #1f2937;
  color: #f9faf8;
}

.hero-content-container {
  padding: 128px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 32px;
}

.hero-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-image-container {
  background-color: #6d747e;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}

.hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-cta {
  background-color: #3882f6;
  text-decoration: none;
  color: inherit;
  padding: 8px 24px;
  outline: none;
  border: none;
  border-radius: 8px;
  align-self: start;
  cursor: pointer;
  font-weight: 700;
}

.features-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.features-heading {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.features-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 32px 0;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 176px;
}

.feature-image-container {
  border: 4px solid #3882f6;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  align-self: flex-start;
}

.feature-text {
  font-size: 18px;
  text-align: center;
  color: #1f2937;
}
